"""
_________                _____.__
\_   ___ \  ____   _____/ ____\__| ____
/    \  \/ /  _ \ /    \   __\|  |/ ___\
\     \___(  <_> )   |  \  |  |  / /_/  >
 \______  /\____/|___|  /__|  |__\___  /
        \/            \/        /_____/

You will need to grab the various tokens to go forward. I tried to make it
as easy as possible.

"""

#Twitter API Tokens
#Get creds
#https://dev.twitter.com/apps/new
twitter_consumer_key = ""
twitter_consumer_secret = ""
twitter_access_token_key = ""
twitter_access_token_secret = ""

#Foursquare API Tokens
#Get creds here:
#https://foursquare.com/developers/register
foursquare_client_id = ""
foursquare_client_secret = ""
foursquare_redirect_uri = ""
foursquare_access_token = ""

#Flickr API Tokens
#Get creds here:
#http://www.flickr.com/services/apps/create/noncommercial/?

flickr_key = ""
flickr_secret = ""
flickr_oauth_token=""
flickr_oauth_token_secret=""
flickr_nsid = ""